<!DOCTYPE html>
<html>
    <head>        
        <link rel="icon" href="img/bag.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
<body>
    {{>header}}
    <div class="centered-form">
        <div class="top-form__box">
        <form>
            <input type="text" placeholder="search here">
            <button type="submit" id="btn">search</button>
        </form>
        </div>
    </div>
{{!--     
        <img src="/img/LOGO.png" width="400px" hieght="400px"> --}}
    {{>footer}}
    <script src="/js/app.js"></script>
</body>
</html>



